@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600&family=Playfair+Display:ital,wght@0,600;0,700;1,400&family=Poppins:wght@200;300;400;500&family=Varela&family=Varela+Round&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;

  background-color: rgb(250, 247, 247);
}
.header-tabs .tabs {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-tabs .tabs li a {
  margin-left: 60px;
  margin-right: 60px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.688);
}
.header .name {
  font-size: 2.5em;
  margin-left: 20px;
}
/* Contact Css*/
.c-info-item {
  margin: 20px;
}

.c-info-item img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.section-one {
  height: 70vh;

  margin-top: 50px;
  padding-left: 20px;
}

.c-info h1{
  color: gold;
  font-size: 40px;
}

/* Css For section two*/

.c-info-item .linkden{
  text-decoration: none;
  background-color: blue;
  border-radius: 8px;
  color: white ;
  padding: 5px;
  height: 15px;
}

.c-info-item .github{
  text-decoration: none;
  background-color: rgb(10, 10, 13);
  border-radius: 8px;
  color: white ;
  padding: 5px;
  height: 15px;


}

/* CSS for Footer*/
.footer {
  background-color: green;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  bottom: 0px;
}
